body {
    font-family:verdana , Arial;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
/*     background-color: rgb(18, 81, 139);
 */  
}
fieldset {
    width: 400px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 20px 10px 10px rgb(169, 169, 235);
    background-color: rgb(18, 81, 139);
    
    
}
input{
    margin: 0 auto;
    height: 25px;
    border-radius: 25px;
}
h1 {
    color : white ;
}
h2 {
    color: whitesmoke ;
}

